# Dataset — downloaded at runtime by torchvision
data/

# Training artifacts — generated per run
# inculde run data for visualization purpose
runs/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# IDE
.idea/
.vscode/
